{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_email">Email:</label>
            <input type="text" name="email" id="id_email" required>
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required>
        </p>
        <button type="submit">Login</button>
    </form>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
